
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Red Village</title>
    <%= favicon_link_tag image_path('images/favicon.ico') %>
    <%= stylesheet_link_tag :all %>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag :application %>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- custom Bootstrap styles -->
    <link href="css/styles.css" rel="stylesheet">
    <link href="src/ytv.css" type="text/css" rel="stylesheet" />
    <link href="assets/demo.css" type="text/css" rel="stylesheet" />
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="http://jwpsrv.com/library/_VSPwqCOEeStYAp+lcGdIw.js"></script>
    <script type="text/javascript" src="src/ytv.js"></script>
    
  </head>
  <body>
    
    <!--     <ul id="navigation"> -->
    <!--       <div class="navigation-top"> -->
    <!--       </div> -->
    
    <!--       <li class="nav-button-home">  -->
    <!--         <a href="index"> -->
    <!-- 	  <div class="side side1">HOME</div> -->
    <!--           <div class="side side2">HOME</div>  -->
    <!--         </a> -->
    <!--       <li class="nav-button-sports">  -->
    <!-- 	<a href="gallery"> -->
    <!-- 	  <div class="side side1">GALLERY</div> -->
    <!-- 	  <div class="side side2">GALLERY</div>  -->
    <!-- 	</a> -->
    <!--       </li> -->
    <!--       <li class="nav-button-partners">  -->
    <!-- 	<a href="#"> -->
    <!-- 	  <div class="side side1">NEWS</div> -->
    <!-- 	  <div class="side side2">NEWS</div>  -->
    <!-- 	</a> -->
    <!--       </li> -->
    <!--       <li class="nav-button-allies">  -->
    <!-- 	<a href="#"> -->
    <!-- 	  <div class="side side1">ABOUT</div> -->
    <!-- 	  <div class="side side2">ABOUT</div>  -->
    <!-- 	</a> -->
    <!--       </li> -->
    <!--       <li class="nav-button-contact">  -->
    <!-- 	<a href="#"> -->
    <!-- 	  <div class="side side1">CONTACT</div> -->
    <!-- 	  <div class="side side2">CONTACT</div>  -->
    <!-- 	</a> -->
    <!--       </li> -->
    <!--       <div class="navigation-bottom"></div> -->
    <!--     </ul>  -->
    <!--     <a class="visible-phone" id="navigation-toggle"> -->
    <!--       <i class="icon-minus-sign icon-white expanded-state"></i> -->
    <!--       <i class="icon-plus-sign icon-white contracted-state"></i>&nbsp;&nbsp; -->
    <!--       <span class="contracted-state">Show</span> -->
    <!--       <span class="expanded-state">Hide</span> Menu</a> -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        
        <% unless user_signed_in? -%>
        <%= link_to '<button>Sign Up</button>'.html_safe, new_user_registration_path %>
        <%= link_to '<button>Log In</button>'.html_safe, new_user_session_path %>
        <% end -%>
        
        <% if user_signed_in? -%>
        <%= link_to '<button>Log Out</button>'.html_safe, destroy_user_session_path, method: :delete %>
        <% end -%>

      </div>
    </nav>
    <br/>
    <div class="container">      
      <div class="row">
        <div class="custom-top-nav clearfix">
          <div class="col-lg-2 col-md-3 col-sm-4">
            <nav class="navbar navbar-default" role="navigation">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>			
              </div>
              <a class="navbar-brand" href="/index">
	        <img alt="Brand" src="/images/red-village-logo.png" />
	      </a>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/index">Home<span class="sr-only">(current)</span></a></li>
                  <li><a href="gallery">Gallery</a></li>
                  <li><a href="calendar">Events</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </nav>
          </div>
          <% if admin_signed_in? -%>
          <div id="admin_login_box" style="float:left">
            <%= current_admin.email %> |
            <%= link_to 'Admin section', admins_path %> |
            <%= link_to 'Sign out', destroy_admin_session_path, method: :delete %>
          </div>
          <% end -%>
          
          <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
    <footer class="footer">
      <div class="container-fluid">
	<div class="col-sm-10 col-sm-offset-1" style="text-align: center;padding: 10px;">
          <span class="text-muted"><span style="color: #ff0000">RedVillage &reg;</span>
        </div>
      </div>
    </footer>
</html>
